.navbar-header .navbar-brand {
    color: #e0e0e0;
    background: url("_static/images/DevelDeck.png") no-repeat;
    background-position: 5px 0;
    padding: 0;
    padding-left: 50px;
    font-weight: 500;
}